PORT=8086
DATABASE_URL=postgresql://postgres:change-me@localhost:5432/calendar_db?schema=public
KAFKA_BROKER=localhost:9092
PROJECT_SERVICE_URL=http://localhost:8082
DOCUMENT_SERVICE_URL=http://localhost:8085
